/* Custom Css */

    html, body {
        background-color: #fff;
        color: #636b6f;
        font-family: 'Nunito', sans-serif;
        font-weight: 200;
        height: 100vh;
        margin: 0;
    }

    .full-height {
        height: 100vh;
    }

    .flex-center {
        align-items: center;
        display: flex;
        justify-content: center;
    }

    .position-ref {
        position: relative;
    }

    .top-right {
        position: absolute;
        right: 10px;
        top: 18px;
    }

    .content {
        text-align: center;
    }

    .title {
        font-size: 84px;
    }

    .links > a {
        color: #636b6f;
        padding: 0 25px;
        font-size: 13px;
        font-weight: 600;
        letter-spacing: .1rem;
        text-decoration: none;
        text-transform: uppercase;
    }

    .m-b-md {
        margin-bottom: 30px;
    }

.itemAnnouncementMain {
    display: table;
    width: 98%;
    margin: 4px auto
}

.itemAnnouncement {
    display: table-row
}

.announcement-info-name,
.announcement-info-value {
    display: table-cell;
    border-top: 1px dotted #D5E4F1
}

.announcement-info-name {
    text-align: right;
    padding: 6px 10px 6px 4px;
    font-weight: 400;
    color: #667E99;
    background-color: transparent;
    width: 110px;
    vertical-align: middle
}

.announcement-info-value {
    padding: 6px 4px 6px 6px
}

.announcement-info-value>span+span:before {
    display: inline;
    content: ",";
    margin-left: 1px;
    margin-right: 3px;
    color: #666;
    border-bottom: 1px solid #FFF
}

.announcement-info-value>span+span.editable-container:before {
    display: none
}

.itemAnnouncement:first-child .announcement-info-name,
.itemAnnouncement:first-child .announcement-info-value {
    border-top: none
}

